<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/fragment :: head">
<body>
	<nav th:replace="Fragment/fragment :: navSupply"></nav>
	<div th:replace="Fragment/fragment :: slidebar"></div>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="index.html">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Product</li>
				<li class="active">AddProductImport</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add Product Import</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;" > Thêm Phiếu Nhập Sản Phẩm
						<a class="addbutton" href="/supply/billimportproduct">
							<em class="fa fa-close color-red"> Đóng</em>
						</a>
					</div>
					<form id="form" role="form" name="MyForm" action="/supply/api/product/bill/import" method="post" th:object="${billImportProduct}">
						<div class="panel-body">
							<div class="col-md-6">
								<div  class="form-group ">
									<label >Phân Xưởng</label>
									<label style="color:red ;">(*)</label>
									<select class="form-control" th:field="*{workshop}">
										<th:block th:each="workshop : ${workshopList}">
											<option th:value="${workshop.getWorkshopId()}" th:text="${workshop.getWorkshopName()}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div id="AddForm" >
									<div id="ListIP" class="ListIP col-sm-12" style="padding: 0">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Sản Phẩm</label>
												<label style="color:red ;">(*)</label>
												<select class="form-control" name="productId">
													<th:block th:each="product : ${productList}">
														<option th:value="${product.getProductId()}" th:text="${product.getProductName()}"></option>
													</th:block>
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Số Lượng Sản Phẩm</label>
												<label style="color:red ;">(*)</label>
												<input type="number" class="form-control " name="quantity">
											</div>
										</div>
									</div>
								</div>
								<button type="button" id="AddIP" class="btn btn-success" style="margin-left:30px ;">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class="panel-footer">
							<button type="submit" id="Submit" class="btn btn-lg btn-primary">Submit Button</button>
							<button type="reset" class="btn btn-lg  btn-default">Reset Button</button>
						</div>
					</form>
				</div>
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">Make by <a href="https://www.facebook.com/profile.php?id=100006077866205">ONETEAM</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->

	<div th:replace="Fragment/fragment :: js"></div>
	<script>
		$("#form").submit(function(e) {

			e.preventDefault(); // avoid to execute the actual submit of the form.

			var form = $(this);
			$.ajax({
				type: form.attr('method'),
				url: form.attr('action'),
				data: form.serialize(), // serializes the form's elements.
				success: function(data)
				{
					if(data){
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Thêm bill thành công',
							showConfirmButton: true
						}).then((result) =>{
							window.location.reload();
						})
					}else{
						Swal.fire({
							position: 'center',
							icon: 'error',
							title: 'Thiếu thông tin!',
							showConfirmButton: true
						})
					}
				}
			});

		});
	</script>
	
</body>
</html>
