<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/fragment :: head">
<body>
	<nav th:replace="Fragment/fragment :: navSupply"></nav>
	<div th:replace="Fragment/fragment :: slidebar"></div>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="index.html">
					<em class="fa fa-home"></em>
				</a></li>
				<li>Product</li>
				<li class="active">ProductExportDetail</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Product Export Detail</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;" >Chi Tiết Phiếu Xuất Sản Phẩm
						<a class="addbutton" href="/supply/billexportproduct">
							<em class="fa fa-close color-red"> Đóng</em>
						</a>
					</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<table class="table table-bordered">
								<thead>
								<tr>
									<th class="text-center" scope="col">STT</th>
									<th class="text-center" scope="col">Mã Sản Phẩm</th>
									<th class="text-center" scope="col">Tên Sản Phẩm</th>
									<th class="text-center" scope="col">Đơn vị Tính</th>
									<th class="text-center" scope="col">Số Lượng</th>
									<th class="text-center" scope="col">Giá Tiền</th>
									<th class="text-center" scope="col">Thành Tiền</th>
								</tr>
								</thead>
								<tbody>
								<th:block th:each=" billDetails,count : ${bEDetailsList}">
									<tr>
										<th class="text-center" scope="row" th:text="${count.index + 1}">1</th>
										<td th:text="${'SP'+billDetails.getProduct().getProductId()}">SP01</td>
										<td th:text="${billDetails.getProduct().getProductName()}">Cơm Cháy</td>
										<td th:text="${billDetails.getProduct().getUnit()}">Bịch</td>
										<td class="text-right" th:text="${billDetails.getQuantity()}">10</td>
										<td class="text-right" th:text="${billDetails.getProduct().getPrice()}">10</td>
										<td class="text-right" th:text="${#numbers.formatDecimal(billDetails.getProduct().getPrice()*billDetails.getQuantity(), 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}">10</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="6" class="text-right">Cộng Tiền Hàng</td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" >Tiền Thuế GTGT (10%)</td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total*0.1,0,'COMMA', 0, 'POINT')+ ' VNĐ'}">2121</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right">Tổng Số Tiền Thanh Toán</td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total*0.1 + total,0,'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">Make by <a href="https://www.facebook.com/profile.php?id=100006077866205">ONETEAM</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->


	<div th:replace="Fragment/fragment :: js"></div>
	
</body>
</html>
