<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/fragment :: head">
<body>
	<nav th:replace="Fragment/fragment :: navSupply"></nav>
	<div th:replace="Fragment/fragment :: slidebar"></div>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="index.html">
					<em class="fa fa-home"></em>
				</a></li>
				<li>Ingredient</li>
				<li class="active">Ingredient Import Detail</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Ingredient Import Detail</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;" >Chi Tiết Phiếu Nhập Nguyên Liệu
						<a class="addbutton" href="/supply/billimportmatertial">
							<em class="fa fa-close color-red"> Đóng</em>
						</a>
					</div>
					<div class="panel-body" style="font-size: 16px;">
						<div class="col-lg-12">
							<div class="form-group">
								<div><strong>Họ Tên Người Mua Hàng: </strong> <span th:text="${contracts.getCustomer().getCustomerName()}"></span></div>
								<div><strong>Số Điện Thoại: </strong><span th:text="${contracts.getCustomer().getPhoneNumber()}"></span></div>
								<div><strong>Địa Chỉ: </strong><span th:text="${contracts.getCustomer().getAddress()}"></span></div>
								<div><strong>Mã Số Thuế: </strong><span th:text="${contracts.getCustomer().getTax()}"></span></div>
								<div><strong>Ngày Xuất Phiếu Xuất: </strong><span th:text="${#dates.format(billImportMaterial.getCreated(), 'dd-MM-yyyy hh:mm:SS')}"></span></div>
							</div>
							<table class="table table-bordered">
								<thead>
								<tr>
									<th class="text-center" scope="col">STT</th>
									<th class="text-center" scope="col">Mã Nguyên Liệu</th>
									<th class="text-center" scope="col">Tên Nguyên Liệu</th>
									<th class="text-center" scope="col">Đơn vị Tính</th>
									<th class="text-center" scope="col">Giá Nhập</th>
									<th class="text-center" scope="col">Số Lượng</th>
									<th class="text-center" scope="col">Thành Tiền</th>
								</tr>
								</thead>
								<tbody>
								<th:block th:each="BIMaterial,count :${BIMaterialDetails}">
									<tr>
										<th class="text-center" scope="row" th:text="${count.index + 1}"></th>
										<td th:text="${'NL'+BIMaterial.getMaterial().getMaterialId()}"></td>
										<td th:text="${BIMaterial.getMaterial().getMaterialName()}"></td>
										<td th:text="${BIMaterial.getMaterial().getUnit()}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(BIMaterial.getMaterial().getPrice(), 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
										<td class="text-right" th:text="${BIMaterial.getQuantity()}"></td>
										<td class="text-right" th:text="${#numbers.formatDecimal(BIMaterial.getMaterial().getPrice() * BIMaterial.getQuantity(), 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
									</tr>
								</th:block>
								<tr>
									<td colspan="6" class="text-right">Cộng Tiền Hàng</td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" >Tiền Thuế GTGT <span th:text="${#numbers.formatDecimal(billImportMaterial.getVat(), 0, 'COMMA', 0, 'POINT')+ '%'}"></span></td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total*billImportMaterial.getVat(),0,'COMMA', 0, 'POINT')+ ' VNĐ'}">2121</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right">Tổng Số Tiền Thanh Toán</td>
									<td class="text-right" th:text="${#numbers.formatDecimal(total*billImportMaterial.getVat() + total,0,'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">Make by <a href="https://www.facebook.com/profile.php?id=100006077866205">ONETEAM</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->


	<div th:replace="Fragment/fragment :: js"></div>
	
</body>
</html>
