<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/fragment :: head">
<body>
	<nav th:replace="Fragment/fragment :: navSupply"></nav>
	<div th:replace="Fragment/fragment :: slidebar"></div>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="index.html">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Warehouse</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Warehouse</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;" >Nguyên Liệu
						<a class="addbutton" href="warehouse/material/create">
							<button type="button" class="btn btn-md btn-success">Thêm</button>
						</a>
						</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<input style="margin-bottom: 10px;" class="form-control" id="myInput" type="text" placeholder="Search">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Mã Nguyên Liệu</th>
										<th scope="col">Tên Nguyên Liệu</th>
										<th scope="col">Đơn Vị Tính</th>
										<th scope="col">Giá Nhập</th>
										<th scope="col">Số Lượng</th>
									</tr>
								</thead>
								<tbody id="Ingredient">
									<th:block th:each="material : ${materialList}">
										<tr>
											<th scope="row" th:text="${'NL'+material.getMaterialId()}"></th>
											<td th:text="${material.getMaterialName()}"></td>
											<td th:text="${material.getUnit()}"></td>
											<td th:text="${#numbers.formatDecimal(material.getPrice(), 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
											<td th:text="${material.getInventory()}"></td>
											<td>
												<a th:href="@{warehouse/material/update/{id}(id=${material.getMaterialId()})}"><button type="button" class="btn btn-md btn-info addbutton">Sửa</button></a>
												<button type="button" class="btn btn-md btn-danger" th:onclick="deleteMiterial([[${material.getMaterialId()}]])">Xóa</button>
											</td>
										</tr>
									</th:block>
								</tbody>
							  </table>
						</div>  
					</div>
				</div><!-- /.panel-->

				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;" >Sản Phẩm
						<a class="addbutton" href="warehouse/product/create">
							<button type="button" class="btn btn-md btn-success">Thêm</button>
						</a>
						</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<input style="margin-bottom: 10px;" class="form-control" id="myInput1" type="text" placeholder="Search">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col">Mã Sản Phẩm</th>
										<th scope="col">Tên Sản Phẩm</th>
										<th scope="col">Đơn Vị Tính</th>
										<th scope="col">Giá Sản Xuất</th>
										<th scope="col">Số Lượng</th>
									</tr>
								</thead>
								<tbody id="Product">
								<th:block th:each="product : ${productList}">
									<tr>
										<th scope="row"  th:text="${'SP'+product.getProductId()}"></th>
										<td th:text="${product.getProductName()}"></td>
										<td th:text="${product.getUnit()}"></td>
										<td th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')+ ' VNĐ'}"></td>
										<td th:text="${product.getInventory()}"></td>
										<td>
											<a th:href="@{warehouse/product/update/{id}(id=${product.getProductId()})}"><button type="button" class="btn btn-md btn-info addbutton">Sửa</button></a>
											<button type="button" class="btn btn-md btn-danger" th:onclick="deleteProduct([[${product.getProductId()}]])">Xóa</button>
											<a th:href="@{warehouse/product/{id}(id=${product.getProductId()})}"><button type="button" class="btn btn-md btn-default">Xem</button></a>
										</td>
									</tr>
								</th:block>
								</tbody>
							  </table>
						</div>  
					</div>
				</div><!-- /.panel-->
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">Make by <a href="https://www.facebook.com/profile.php?id=100006077866205">ONETEAM</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->


	<div th:replace="Fragment/fragment :: js"></div>
	<script>
		function deleteProduct(id) {
			Swal.fire({
				title: 'Bạn chắc chắn muốn xóa sản phẩm này?',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				denyButtonText: `No`,
			}).then((result) => {
				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) {
					$.ajax({
						type: "POST",
						url: "http://localhost:8060/supply/api/product/delete/"+id,
						success: function(data)
						{
							if(data){
								Swal.fire({
									position: 'center',
									icon: 'success',
									title: 'Xóa sản phẩm thành công',
									showConfirmButton: true
								}).then((result) =>{
									window.location.reload();
								})
							}else{
								Swal.fire({
									icon: 'error',
									title: 'Failed',
									text: 'Vui lòng thử lại',
									footer: '<a>Vui lòng thử lại</a>'
								})
							}
						}
					});
				}
			})


		}
	</script>
	<script>
		function deleteMiterial(id) {
			Swal.fire({
				title: 'Bạn chắc chắn muốn xóa nguyên liệu này? ',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				denyButtonText: `No`,
			}).then((result) => {
				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) {
					$.ajax({
						type: "POST",
						url: "http://localhost:8060/supply/api/material/delete/"+id,
						success: function(data)
						{
							if(data){
								Swal.fire({
									position: 'center',
									icon: 'success',
									title: 'Xóa nguyên liệu thành công',
									showConfirmButton: true
								}).then((result) =>{
									window.location.reload();
								})
							}else{
								Swal.fire({
									icon: 'error',
									title: 'Failed',
									text: 'Vui lòng thử lại',
									footer: '<a>Vui lòng thử lại</a>'
								})
							}
						}
					});
				}
			})


		}
	</script>
	
</body>
</html>
