<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <!--	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/datepicker3.css" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="/assets/faviconOT.webp">
  <!--Custom Font-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!--[if lt IE 9]-->
  <script src="/assets/js/html5shiv.min.js"></script>
  <script src="/assets/js/respond.min.js"></script>
  <!--[endif]-->
</head>

<!--/.nav Sales-->


<nav th:fragment="navSales" class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><span>One</span>Team</a>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <em class="fa fa-bell"></em><span class="label label-info">1</span>
        </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li><a href="#">
              <div><em class="fa fa-envelope"></em> 1 New Message
                <span class="pull-right text-muted small">3 mins ago</span></div>
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<!--/.nav Supply-->

<nav th:fragment="navSupply" class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><span>One</span>Team</a>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <em class="fa fa-bell"></em><span class="label label-info">1</span>
        </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li><a href="#">
              <div><em class="fa fa-envelope"></em> 1 New Message
                <span class="pull-right text-muted small">3 mins ago</span></div>
            </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<!--/.sidebar Sales-->

<div th:fragment="slidebarSales" id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <div class="profile-sidebar">
    <div class="profile-userpic">
      <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-1/272199311_3042407815971784_3816958182075697482_n.jpg?stp=c347.185.479.479a_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_ohc=2LW6GMBx3-4AX_skB3V&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAK75W_nUhKPih1MCAK_6qKZrYYUFDYmnLy9PKfir120A&oe=6381E1D1" class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">Phòng kinh doanh</div>
      <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="divider"></div>
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li th:class="${dashboard != null ? 'active':''}"><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
    <li th:class="${contract != null ? 'active':''}"><a href="/sales/contract"><em class="fa fa-sticky-note">&nbsp;</em> Contract</a></li>
    <li th:class="${liquidation != null ? 'active':''}"><a href="/sales/liquidation"><em class="fa fa-send-o">&nbsp;</em> Liquidation Contract</a></li>
    <li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
  </ul>
</div><!--/.sidebar-->

<!--/.sidebar Supply-->

<div th:fragment="slidebarSupply" id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <div class="profile-sidebar">
    <div class="profile-userpic">
      <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/312565204_1171609460104442_305861500513095724_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Sn7ffIbksTIAX-uXrXb&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfAi8QwTwxCcW5M7NKWPdNwCtD7Osok0WEemOvz43Jm30Q&oe=6385755C" class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">Phòng cung ứng</div>
      <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="divider"></div>
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li th:class="${dashboard != null ? 'active':''}"><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
    <li th:class="${warehouse != null ? 'active':''}"><a href="/supply/warehouse"><em class="fa fa-dropbox">&nbsp;</em> Warehouse</a></li>
    <li th:class="${ingredient != null ? 'active':''}"><a href="/supply/ingredient"><em class="fa fa-envira">&nbsp;</em> Ingredient</a></li>
    <li th:class="${product != null ? 'active':''}"><a href="product.html"><em class="fa fa-gift ">&nbsp;</em> Product</a></li>
    <li ><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
  </ul>
</div><!--/.sidebar-->

<div th:fragment="js">
  <script src="/assets/js/jquery-1.11.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/chart.min.js"></script>
  <script src="/assets/js/chart-data.js"></script>
  <script src="/assets/js/easypiechart.js"></script>
  <script src="/assets/js/easypiechart-data.js"></script>
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script>
    window.onload = function () {
      var chart1 = document.getElementById("line-chart").getContext("2d");
      window.myLine = new Chart(chart1).Line(lineChartData, {
        responsive: true,
        scaleLineColor: "rgba(0,0,0,.2)",
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleFontColor: "#c5c7cc"
      });
    };
  </script>
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#Contract tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</div>